div.comment-form {
    margin: 20px 0 0 45px;
}
div.comment-form textarea {
    width: 500px;
    height: 100px;
}
div.comment-form input[type=submit] {
    display: block;
    margin: 10px 0 0 0;
}
div.comment-body {
    float: left;
}
span.comment-delete a {
    font-size: 10px;
    margin: 0 0 0 3px;
}